@import "variables";

.debug {
  @include debug-vertical-alignment;
}

img, iframe {
  margin: auto;
  display: block;
  max-width: 100%;
  @include margin-trailer;
}

h1, h2 {
  font-weight: 700;
  color: #eee;
  @include margin-leader(1);
}

p {
  @include margin-trailer(1);
}

.article p {
}
