@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "susy";
@import "compass/layout/grid-background";

$line1: 14px;
$line2: 18px;
$line3: 24px;
$grid-background-baseline-color: lighten(#D72272, 30%) !global;

@mixin uwd-rhytm-config($size) {
  $base-font-size: $size !global;
  $base-line-height: $size * 1.5 !global;
  $rhythm-unit: "rem" !global;
  $rem-with-px-fallback: true !global;
}

.debug {
  @include debug-vertical-alignment;
}

img, iframe {
  margin: auto;
  display: block;
  max-width: 100%;
  @include margin-trailer;
}

h1, h2 {
  font-weight: 700;
  color: #eee;
  @include margin-leader(1);
}

p {
  @include margin-trailer(1);
}

.article p {
}
