@import "variables";
 
html {
  height: 100%;
  overflow-x:hidden;
}

body {
  height: 100%;
  font-family: $font-main;
  font-weight: 300;
  
}

#main {
  @include container();
  @include susy-media ($large) {
   @include container(75em);
  }
}

@include uwd-rhytm-config($line1);
@include establish-baseline;

@include susy-media ($medium) {
  @include uwd-rhytm-config($line2);
  @include establish-baseline;
}

@include susy-media ($large) {
  @include uwd-rhytm-config($line3);
  $base-font-size: $line2 !global;
  $base-line-height: $line2 * 1.5 !global;
  @include establish-baseline;
}



.debug {
  @include debug-vertical-alignment;
}

img, iframe {
  margin: auto;
  display: block;
  max-width: 100%;
  @include margin-trailer;
}

h1, h2, h3, h4, h5, h6  {
  font-weight: 700;
  
  @include margin-leader(1);
}

h1 {
  @include adjust-font-size-to (3.157rem);
}
h2 {
  @include adjust-font-size-to (2.369rem);
}
h3 {
  @include adjust-font-size-to (1.777rem);
}
h4 {
  @include adjust-font-size-to (1.333rem);
}
h5 {
  @include adjust-font-size-to (1rem);
}
h6 {
  @include adjust-font-size-to (0.75rem);
  
}



p {
  @include margin-trailer(1);
}

.article p {
}






#bgimage {

   
  background-repeat: no-repeat;
  background-position: center top; 
  background-image: url("sw028.jpg");
  display: flex; 
  background-size: cover;
  @include bleed-x(15em 15em);
}

#masterhead {
    

  display: flex;
  align-items: center;

  position: relative;  
  background-position: center top;
  
  @include span(10 full inside no-gutters);  
  height: $line1*12;
  @include susy-media($medium) {
  height: $line2*12;
  }
   @include susy-media($large) {
  height: $line3*8;
  }
}

#grass {
  background-image: url(grass.png);
  background-repeat: repeat-x;
  background-position: 0px -2px;
  border-bottom-color: orange;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  @include span(10);
  position: absolute;
  bottom:0;
  background-size: contain;
  height: $line1*2;

  @include susy-media($medium) {
    background-size: contain;
    height: $line2*2;
  }

  @include susy-media($large) {
    background-size: contain;
    height: $line3*1.5;
  }
}

#logo {
  @include span(6);
  @include susy-media($small) {
    @include span(4);
  }
  @include susy-media($medium) {
    @include span(5);
  }
  height: $line3*5;
  background-image: url(logo21.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#contactsviget { 

  h6 {

    @include adjust-font-size-to (0.75rem, 2/3);
    margin-top: 0.5rem;
    margin-bottom: -0.7rem;
  }
  
  div { 
        padding: 0 0.8rem;
      }
  @include susy-media(0em $small){

    padding: 0;
     
    flex-direction: column;
  }  
      
    
  

 
  @include adjust-font-size-to (0.8em, 2/3);
  display: flex; 
  

  .contacts {background-color: #ada;
    border-left: 2px ;
    text-align: left; 
  }
  text-align: right;
    @include span(4 last);
    @include susy-media($small) {
    @include span(6 last);
  }
  @include susy-media($medium) {
  @include span(5 last);
  }
}



@mixin block($name) {
  //background-color: lighten(dimgray, 10%);
  // border-radius: 0px 0px 6px 6px;
  @media (min-width: 769px) {
  //border-radius: 0px 0px 10px 10px;
  }

}

#content {
  @include span(10);
  @include block('content');
  height: 100%;
  box-shadow: 0 0 15px dimgray;
  background-color: dimgray;
  opacity: 0.7;
} 

.layout {

}



//Navigation ------------------------------------
.navigation {
   @include span(10);
  background: lighten($PRUSSIANBLUE, 75);
  ul.nav {

    @include susy-media($small) {
      @include horizontal-list;
    }
    li {
      i {
        color: lighten(yellow, 20);
        padding-right: .5em;
      } //icons

      a {
        @include single-transition(all, .5s, ease-out);
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        color: $PRUSSIANBLUE;

        &:hover {
          background: lighten($ORIOLESORANGE, 70);
          a {
            color: lighten(yellow, 30);
          }
        }


      } //a
    } //li
  } //ul.nav
} // navigation