@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "susy";
@import "compass/layout/grid-background";


$susy: (
  columns: 10,
  gutters: 1/4,
  container: 60em,
  math: fluid,
  output: float,
  gutter-position: inside,
);



html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Verdana", Georgia, serif;
}

#main {
  @include container();
}

.main {
    @include debug-vertical-alignment;
}

$line1: 24px;
$line2: 33px;
$base-font-size: 16px !global;
$base-line-height: $line1 !global;
$rhythm-unit: "rem" !global;
$grid-background-baseline-color: white;
$rem-with-px-fallback: true !global;
@include establish-baseline;


@include susy-media(50em) {
  $base-font-size: 22px !global;
  $base-line-height: $line2 !global;
  $rhythm-unit: "rem" !global;
  $grid-background-baseline-color: white;
  $rem-with-px-fallback: true !global;
  @include establish-baseline;
}


 




img, iframe {
  margin: auto;
  display: block;
  max-width: 100%;
  @include margin-trailer;
}


h1, h2 {
  font-weight: 700;
  color: #eee;
   
  @include margin-leader(1);
 
}

p {
 
  @include margin-trailer(1);
}

.article p {
   
}



#masterhead {
  display: flex;
 
  @include span(10);  
   

  height: $line1*7;
  @include susy-media(50em) {
    height: $line2*7;
  }
  

}

#logo {
  @include span(4);
   
  background-image: url(logo21.png);
  background-repeat: no-repeat;
  @include margin-trailer(1);
}

#contactsviget {
  @include span(6 last);
  background: rgba(blue, .7);
}

#grass {
  background-image: url(grass.jpg); 
  @include span(10);
  background-color: #ccc; 
  height: $line1*2;

}


@mixin block-name($name) {
  position: relative;

  &:before {
    content: '#{$name}';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     
    text-transform: uppercase;
    text-shadow: 0 0 10px white;
  }
}
@mixin block($name) {
  @include block-name($name);
  background-color: lighten(dimgray, 10%);
  border-radius: 18px;
}

#content {
  @include span(10);
  background: rgba(hotpink, .7);
  @media screen and (max-width: 768px) {
    @include span(10);
  }

  @include block('content');
  height: 100%;
  box-shadow: 0 0 15px dimgray;
  background-color: dimgray;
  opacity: 0.7;
} 