@import "variables";
 
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Verdana", Georgia, serif;
  background-repeat: no-repeat;
  background-position: center top; 
}

#main {
  @include container();
}

@include uwd-rhytm-config($line1);
@include establish-baseline;

@include susy-media (769px) {
  @include uwd-rhytm-config($line2);
  @include establish-baseline;
}

@include susy-media (1500px) {
  @include uwd-rhytm-config($line3);
  @include establish-baseline;
}

 
#masterhead {
  position: relative;  
  background-image: url("SW-028.jpg");
  background-repeat: no-repeat; 
  @include span(10 full inside no-gutters);  
  height: $line3*6;
  @include susy-breakpoint(769) {
  height: $line2*6;
  }
   @include susy-media(1500) {
  height: $line1*6;
  }
}

#grass {
  background-image: url(grass.png);
  background-repeat: repeat-x;
  background-position: 0px -2px;
  border-bottom-color: orange;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  @include span(10);
  position: absolute;
  bottom:0;
  background-size: contain;
  height: $line1*2;

  @include susy-media($medium) {
    background-size: contain;
    height: $line2*2;
  }

  @include susy-media($large) {
    background-size: contain;
    height: $line3*2;
  }
}

#logo {
  @include span(6);
  @include susy-media($small) {
  @include span(4);
  }
  height: $line3*6;
  background-image: url(logo21.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#contactsviget {
  @include span(4 last);
  @include susy-media($small) {
  @include span(6 last);
  }
}

@mixin block($name) {
  //background-color: lighten(dimgray, 10%);
  // border-radius: 0px 0px 6px 6px;
  @media (min-width: 769px) {
  //border-radius: 0px 0px 10px 10px;
  }

}

#mainmenu {
  @include span(10);
  height: $line1*1.5;
  @include susy-media(50em) {
  height: $line2*1.5;
  }
}

#content {
  @include span(10);
  @include block('content');
  height: 100%;
  box-shadow: 0 0 15px dimgray;
  background-color: dimgray;
  opacity: 0.7;
} 