@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";

$base-font-size: 18px !global;
$base-line-height: 28px !global;
$rhythm-unit: "rem" !global;
$grid-background-baseline-color: white;
$rem-with-px-fallback: true !global;
@include establish-baseline;

p.img.iframe {
  @include margin-trailer;
}

h1, h2 {
  color: #eee;
  @include adjust-font-size-to(24px, 1);
  @include margin-leader(1);
 
}

p {
 
  @include margin-trailer(1);
}

.article p {
  @include adjust-font-size-to(24px, 1);
}