@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "susy";
@import "compass/layout/grid-background"; 
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


$susy: (
  columns: 10,
  gutters: 1/4,
  container: 60em,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$font-main:  'Ubuntu', sans-serif;

$line1: 14px;
$line2: 16px;
$line3: 22px;

$PRUSSIANBLUE: #0D2C54;
$ORIOLESORANGE: #F6511D;


$small                : 30em;
$medium               : 47em;
$large                : 75em;

$grid-background-baseline-color: lighten(#D72272, 30%) !global;

@mixin uwd-rhytm-config($size) {
  $base-font-size: $size !global;
  $base-line-height: $size * 1.5 !global;
  $rhythm-unit: "rem" !global;
  $rem-with-px-fallback: true !global;
}
