/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Verdana", Georgia, serif;
  background-image: url("SW-028.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

#main {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
#main:after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper {
  padding: 21px;
}

html {
  font-size: 87.5%;
  line-height: 1.5em;
}

.debug {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2YwYTJjNCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmMGEyYzQiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, #f0a2c4), color-stop(5%, rgba(240, 162, 196, 0)));
  background-image: -moz-linear-gradient(bottom, #f0a2c4 5%, rgba(240, 162, 196, 0) 5%);
  background-image: -webkit-linear-gradient(bottom, #f0a2c4 5%, rgba(240, 162, 196, 0) 5%);
  background-image: linear-gradient(to top, #f0a2c4 5%, rgba(240, 162, 196, 0) 5%);
  -moz-background-size: 100% 1.5rem;
  -o-background-size: 100% 1.5rem;
  -webkit-background-size: 100% 1.5rem;
  background-size: 100% 1.5rem;
  background-position: left top;
}

@media (min-width: 769px) {
  .wrapper {
    padding: 27px;
  }

  html {
    font-size: 112.5%;
    line-height: 1.5em;
  }

  .debug {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2YwYTJjNCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmMGEyYzQiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, #f0a2c4), color-stop(5%, rgba(240, 162, 196, 0)));
    background-image: -moz-linear-gradient(bottom, #f0a2c4 5%, rgba(240, 162, 196, 0) 5%);
    background-image: -webkit-linear-gradient(bottom, #f0a2c4 5%, rgba(240, 162, 196, 0) 5%);
    background-image: linear-gradient(to top, #f0a2c4 5%, rgba(240, 162, 196, 0) 5%);
    -moz-background-size: 100% 1.5rem;
    -o-background-size: 100% 1.5rem;
    -webkit-background-size: 100% 1.5rem;
    background-size: 100% 1.5rem;
    background-position: left top;
  }
}
img, iframe {
  margin: auto;
  display: block;
  max-width: 100%;
  margin-bottom: 27px;
  margin-bottom: 1.5rem;
}

h1, h2 {
  font-weight: 700;
  color: #eee;
  margin-top: 27px;
  margin-top: 1.5rem;
}

p {
  margin-bottom: 27px;
  margin-bottom: 1.5rem;
}

#masterhead {
  display: flex;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  height: 70px;
}
@media (min-width: 50em) {
  #masterhead {
    height: 90px;
  }
}

#logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  background-image: url(logo21.png);
  background-repeat: no-repeat;
  margin-bottom: 27px;
  margin-bottom: 1.5rem;
}

#contactsviget {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: right;
  padding-left: 1%;
  padding-right: 1%;
}

#grass {
  background-image: url(grass-01.svg);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  background-position: center bottom;
  background-size: contain;
  height: 21px;
}
@media (min-width: 50em) {
  #grass {
    height: 27px;
  }
}

#mainmenu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #ccc;
  height: 21px;
}
@media (min-width: 50em) {
  #mainmenu {
    height: 27px;
  }
}

#content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
  background-color: #838383;
  border-radius: 18px;
  height: 100%;
  box-shadow: 0 0 15px dimgray;
  background-color: dimgray;
  opacity: 0.7;
}
#content:before {
  content: "content";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}

#clickme {
  font-size: 42px;
  font-size: 2.33333rem;
  line-height: 54px;
  line-height: 3rem;
  -moz-border-radius: 6px / 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px / 6px;
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  text-align: center;
  background-color: #ccc;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 50px;
  right: 50px;
  opacity: 0.3;
}
#clickme:hover {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
