<!DOCTYPE html>
<html>
  <head>
    <title>Impuls2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- for development use -->
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- end -->
  </head>
  <body>
    <main id="main">
      <header id="masterhead">
        <div id="logo"></div>
        <div id="contactsviget">
           
                   
                <b>Адрес электронной почты:</b><br /> impuls-psy@mail.ru
                </div>                                                   

                <div class="contacts">
                <b>Контакты:</b><br>
                Тел.: 8 912 699 25 54
                <br>
                Адрес: г. Верхняя Пышма,
                <br>
                проспект Успенский 125, офис 208
                 
        </div>
        <div id="grass"></div>
      </header>
      
      <menu id="mainmenu"></menu>
      <%= yield %>
    </main>
  </body>
</html>
 