<!DOCTYPE html>
<html>
  <head>
    <title>Impuls2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- for development use -->
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- end -->
  </head>
  <body>
    <main id="main">
      <header id="masterhead">
        <div id="logo">логотип</div>
        <div id="contactsviget">Контакты</div>
        <div id="grass"></div>
      </header>
      
      <menu id="mainmenu"></menu>
      <%= yield %>
    </main>
  </body>
</html>
 